<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>成都批发网  食品批发、超市供货,网上食品批发首选，质量保证-food028做最棒的批发平台</title>
    <meta name="description" content="food028-专业的批发平台,产品包括休闲零食、粮油调味、糖果/巧克力、酒饮冲调、地方特产、日用百货等数万种商品直销,便捷，诚信的服务,为您提供愉悦的网上食品批发体验!"/>
    <meta name="author" content="94192448@qq.com"/>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/fonts-googleapis.css">
    <script src="./assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="./assets/css/dashboard.css" rel="stylesheet" />
    <script src="./assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="./assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="./assets/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <header th:replace="commons/header"></header>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                用户评论
              </h1>
          </div>
            <div class="row row-cards row-deck">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">我正在为我即将新开的超市准备货源（象红旗连锁）那样的店，请问你们可以帮我配送货吗？.</a></h4>
                    <div class="text-muted">可以.</div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3" style="background-image: url(./assets/images/default/ico.jpg)"></div>
                      <div>
                        <a href="./profile.html" class="text-default">Bobby Knight</a>
                        <small class="d-block text-muted">3 days ago</small>
                      </div>
                      <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">四川省内发货要运费么？  怎么算？  请速回？.</a></h4>
                    <div class="text-muted">可以.</div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3" style="background-image: url(./assets/images/default/ico.jpg)"></div>
                      <div>
                        <a href="./profile.html" class="text-default">Bobby Knight</a>
                        <small class="d-block text-muted">3 days ago</small>
                      </div>
                      <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">我想开家像好吃屋累时的休闲食品  你那里货源齐全吗   价位高吗？.</a></h4>
                    <div class="text-muted">可以.</div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3" style="background-image: url(./assets/images/default/ico.jpg)"></div>
                      <div>
                        <a href="./profile.html" class="text-default">Bobby Knight</a>
                        <small class="d-block text-muted">3 days ago</small>
                      </div>
                      <div class="ml-auto text-muted">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
<!--footer-->
      <div th:replace="commons/footer"></div>

    </div>
  </body>
</html>
