<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>成都批发网  食品批发、超市供货,网上食品批发首选，质量保证-food028做最棒的批发平台</title>
    <meta name="description" content="food028-专业的批发平台,产品包括休闲零食、粮油调味、糖果/巧克力、酒饮冲调、地方特产、日用百货等数万种商品直销,便捷，诚信的服务,为您提供愉悦的网上食品批发体验!"/>
    <meta name="author" content="94192448@qq.com"/>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/fonts-googleapis.css">
    <script src="./assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="./assets/css/dashboard.css" rel="stylesheet" />
    <script src="./assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="./assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="./assets/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <header th:replace="commons/header"></header>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                推荐
              </h1>
              <!--<div class="page-subtitle">1 - 12 of 1713 产品</div>-->
              <div class="page-options d-flex">
                <select class="form-control custom-select w-auto">
                  <option value="asc">糖果</option>
                  <option value="desc">百货</option>
                </select>
                <div class="input-icon ml-2">
                  <span class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </span>
                  <input type="text" class="form-control w-10" placeholder="搜索产品">
                </div>
              </div>
            </div>

            <div class="row row-cards">
              <div class="col-sm-6 col-lg-3" th:each="p : ${list}">
                    <div class="card">
                      <div class="card-body">
                        <a th:href="'/product/'+${p.id}">
                        <div class="mb-4 text-center">
                          <img th:src="'http://static.food028.com'+${p.ico}" alt="Apple iPhone 7 128GB" class="img-fluid">
                        </div>
                          </a>
                        <h4 class="card-title"><a th:href="'/product/'+${p.id}" th:text="${p.name}">欢乐家256g北果什锦罐头*12瓶</a></h4>
                        <div class="card-subtitle" th:text="${p.wholeNum}+${p.unit.name}+'/件'">
                          Apple
                        </div>
                        <div class="mt-5 d-flex align-items-center">
                          <div class="product-price">
                            <strong th:text="'￥'+${p.wholePrice}">¥309元/件</strong>
                          </div>
                          <div class="ml-auto">
                            <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> 购买</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="page-header">
              <h1 class="page-title">
                畅销产品
              </h1>
            </div>
            <div class="row row-cards">

              <div class="col-lg-9">
                <div class="card">
                  <table class="table card-table table-vcenter">
                    <tbody><tr th:each="p : ${hotSale}">
                      <td><a th:href="'/product/'+${p.id}"><img th:src="'http://static.food028.com'+${p.ico}" alt="" class="h-8"></a></td>
                      <td>
                        <a th:href="'/product/'+${p.id}" th:text="${p.name}"> </a>
                      </td>

                      <td class="text-right text-muted d-none d-md-table-cell text-nowrap" th:text="${p.wholeNum}+${p.unit.name}+'/件'">98 reviews</td>
                      <td class="text-right">
                        <strong th:text="'￥'+${p.wholePrice}">$499</strong>
                      </td>
                      <td><a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> 购买</a></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">

                  <div class="col-md-6 col-lg-12" th:each="p : ${recommend}">
                    <div class="card">
                      <div class="card-body">
                        <div class="mb-4 text-center">
                          <img th:src="'http://static.food028.com'+${p.ico}" alt="Apple iPhone 7 128GB" class="img-fluid">
                        </div>
                        <h4 class="card-title"><a th:href="'/product/'+${p.id}" th:text="${p.name}">欢乐家256g北果什锦罐头*12瓶</a></h4>
                        <div class="card-subtitle" th:text="${p.wholeNum}+${p.unit.name}+'/件'">
                          Apple
                        </div>
                        <div class="mt-5 d-flex align-items-center">
                          <div class="product-price">
                            <strong th:text="'￥'+${p.wholePrice}">¥309元/件</strong>
                          </div>
                          <div class="ml-auto">
                            <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> 购买</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
<!--footer-->
      <div th:replace="commons/footer"></div>

    </div>
  </body>
</html>
